@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Poppins:wght@600&display=swap");

:root {
  --background-color: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);

  --card-back-color: #89e7e7;
  --border-color: black;
  --card-correct-color: #4ed779;
  --icon-color: black;
  --w: calc(70vw / 6);
  --h: calc(70vh / 4);
  --general-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --first-color: #f7797d;
  --second-color: #fbd786;
  --third-color: white;
  --fourth-color: hsl(0, 0%, 100%);
  --loser-color: red;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*ESTILOS GENERALES*/

* {
  transition: all 0.5s;
}

body {
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  font-family: var(--general-font);
  animation: move 1s;
}

.hidden {
  display: none;
}
.FACIL {
  animation: start 3s;
}
.NORMAL {
  animation: start 3s;
}

.DIFICIL {
  position: relative;
  transform-style: preserve-3d;
  animation: start 2s;
}

.boton {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: var(--third-color);
  box-shadow: var(--shadow);
  color: var(--first-color);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  transition: all 0.5s ease;
  margin-bottom: 10px;
}

.boton:hover {
  background-color: var(--first-color);
  color: var(--fourth-color);
  box-shadow: var(--first-color) 0px 7px 29px 0px;
}

.boton:active {
  background-color: var(--background-color);
  color: var(--fourth-color);
  transition: 100ms;
}

.boton:disabled:hover {
  background-color: gray;
  color: var(--third-color);
  box-shadow: var(--shadow);
}

ol {
  padding: 0;
}

li {
  font-family: var(--secondary-font);
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: black;
  font-weight: lighter;
  padding-bottom: 1em;
}

p {
  align-self: center;
  border-bottom: 1px solid var(--first-color);
  border-width: 5px;
  width: 100%;
}

/*MENU*/

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.titulo {
  color: white;
  font-weight: bold;
  font-family: var(--secondary-font);
  font-size: 2em;
  margin: 0;
  margin-bottom: 15px;
}

.rankingLista {
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 40%;
  padding: 2em;
  text-align: center;
  box-shadow: var(--shadow);
  font-family: var(--secondary-font);
}

.rankingNiveles {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: start;
  height: 50%;
}

.rankingNiveles div {
  text-align: center;
  justify-self: start;
  flex: 1;
}

.rankingNORMAL li,
.rankingFACIL li,
.rankingDIFICIL li {
  justify-content: center;
}

.contenedor-basico {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.titulo-secundario {
  color: var(--first-color);
  font-family: var(--secondary-font);
  margin: 0;
}

.botonReto {
  border-radius: 50px;
  border: none;
  background-color: var(--first-color);
  padding: 0.5em;
  width: 20%;
  font-family: var(--secondary-font);
  color: white;
  box-shadow: var(--shadow);
  transition: all 0.5s ease;
}

.botonReto:hover {
  background-color: var(--fourth-color);
  color: var(--first-color);
}

.noUsuarios {
  width: 100%;
  font-size: 1em;
  text-align: center;
  margin-top: 2em;
  font-family: var(--secondary-font);
}

.botonMas {
  width: 30%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 50px;
  border: 1px solid var(--first-color);
  text-align: center;
  background-color: var(--fourth-color);
  transition: all 0.5s ease;
  color: var(--first-color);
  box-shadow: var(--shadow);
}

.botonMas:hover {
  background-color: var(--first-color);
  color: var(--fourth-color);
}

.botonIniciar {
  width: 60%;
}
/*USUARIOS TOTALES*/
.usuariosTotales {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.contenedorTotales {
  width: 100%;
}

.contenedorTotales ol {
  width: 50%;
  height: 40vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  background-color: var(--fourth-color);
  border-radius: 10px;
  padding: 2em;
}

.filtrado {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}

.filtroTodos,
.filtroFacil,
.filtroNormal,
.filtroDificil {
  font-family: var(--secondary-font);
  padding: 0.5em;
  width: 20%;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--shadow);
  color: var(--first-color);
  transition: all 0.5s ease;
}

.active {
  background-color: var(--first-color);
  color: var(--fourth-color);
}

.botones {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.retroceder,
.avanzar {
  font-family: var(--secondary-font);
  width: 10em;
  margin-left: 10px;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  padding: 10px 0 10px 0;
}

.retroceder:hover,
.avanzar:hover {
  background-color: var(--first-color);
  color: var(--fourth-color);
}

.retroceder:disabled,
.avanzar:disabled {
  background-color: gray;
  color: var(--third-color);
  box-shadow: var(--shadow);
}

.new-game,
.volver {
  width: 40%;
  height: fit-content;
}

.paginacionControles {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*NIVELES*/
.tituloNivel {
  font-size: 3em;
  font-family: var(--secondary-font);
  color: var(--fourth-color);
  text-align: center;
}

.niveles {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nivel {
  width: 90%;
  padding: 1em;
  font-size: 100%;
  border-radius: 10px;
  text-align: center;
}

/*JUEGO*/

.juego {
  height: 100vh;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container-contador {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.boardFACIL {
  max-height: 80%;
  flex-wrap: wrap;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.boardNORMAL {
  max-height: 80%;
  flex-wrap: wrap;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.boardDIFICIL {
  flex-wrap: wrap;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.boardFACIL,
.boardNORMAL,
.boardDIFICIL {
  justify-content: center;
  align-items: center;
}

.contenedorBotonesJuego {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.container-contador {
  font-size: 2em;
}

.contador {
  display: inline;
  text-align: center;
  color: var(--first-color);
}

.boardNORMAL .area-card,
.boardNORMAL .card,
.boardNORMAL .face {
  width: 150px;
  height: 100px;
}

.boardDIFICIL .area-card,
.boardDIFICIL .card,
.boardDIFICIL .face {
  width: 150px;
  height: 80px;
}

.area-card,
.card,
.face {
  cursor: pointer;
  width: 200px;
  min-width: 100px;
  height: 120px;
  border-radius: 10px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  backface-visibility: hidden;
  box-shadow: inset 0 0 0 5px var(--border-color);
  font-size: 500%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: var(--second-color);
  transform: rotateY(180deg);
}

.top {
  background: var(--background-color);
}

i {
  color: var(--icon-color);
}

.perder {
  font-size: 2em;
  color: var(--loser-color);
  animation: agrandar 0.5s infinite alternate;
  width: 50%;
  text-align: center;

  justify-content: center;
  align-items: center;
}

@keyframes agrandar {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

/*GANADOR*/
.ganador {
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 70%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  font-family: var(--secondary-font);
}

.ganador h1 {
  color: var(--first-color);
  text-align: center;
  margin-bottom: 20px;
}

.mensaje {
  text-align: center;
  margin-bottom: 2em;
  font-family: var(--secondary-font);
}

form {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

form input {
  border: none;
  border-bottom: 1px solid var(--first-color);
  background-color: transparent;
  padding: 0.5em;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

form input:focus {
  outline: none;
}

.registrar {
  display: block;
  margin: 0 auto;
  background-color: var(--first-color);
  color: white;
}

.error {
  border-bottom: 3px solid red;
}

@keyframes start {
  20%,
  90% {
    transform: rotateY(180deg);
  }

  0%,
  100% {
    transform: rotateY(0deg);
  }
}

@media (max-width: 950px) {
  /*MENU*/
  .menu {
    flex-direction: column;
  }

  .contenedor-basico {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rankingLista {
    width: 80%;
    margin-bottom: 4em;
  }

  .botonMas {
    width: 100%;
    font-size: 1em;
    font-family: var(--general-font);
  }

  .boardDIFICIL {
    grid-template-columns: repeat(4, 1fr);
  }

  .boardDIFICIL .area-card,
  .boardDIFICIL .card,
  .boardDIFICIL .face {
    width: 150px;
    height: 80px;
  }
}

@media (max-width: 650px) {
  .boardFACIL {
    grid-template-columns: repeat(2, 1fr);
  }

  .contenedorBotonesJuego {
    flex-direction: column;
    gap: 10px;
  }

  .new-game,
  .volver {
    text-align: center;
    margin: 0;
    width: 80%;
    font-size: 12px;
  }

  .boardNORMAL {
    grid-template-columns: repeat(3, 1fr);
  }

  .boardNORMAL .area-card,
  .boardNORMAL .card,
  .boardNORMAL .face {
    width: 100px;
    height: 100px;
  }

  .boardDIFICIL .area-card,
  .boardDIFICIL .card,
  .boardDIFICIL .face {
    width: 100px;
    height: 80px;
  }
  .container-contador {
    font-size: 1.5em;
  }

  .filtrado {
    width: 100%;
    justify-content: space-around;
  }

  .botones {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  /*MENU*/

  .rankingLista {
    background-color: white;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    width: auto;
  }

  .titulo-secundario {
    font-size: 2em;
    width: 100%;
  }
  .rankingNiveles {
    flex-direction: column;
    font-size: 1.5em;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
  }

  /*JUEGO*/
  .area-card,
  .card,
  .face {
    width: 120px;
    height: 150px;
  }

  .boardNORMAL .area-card,
  .boardNORMAL .card,
  .boardNORMAL .face {
    width: 80px;
    height: 80px;
  }

  .new-game,
  .volver {
    height: fit-content;
    text-align: center;
    padding: 1em;
  }

  .contenedorBotonesJuego {
    height: 10%;
    font-size: 0.5em;
    gap: 0.5em;
  }

  .boardDIFICIL {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }

  .boardDIFICIL .area-card,
  .boardDIFICIL .card,
  .boardDIFICIL .face {
    width: 40px;
    height: 60px;
  }

  .botonReto {
    width: 40%;
  }

  .contenedorTotales ol {
    width: 70%;
  }
}

@media (max-width: 340px) {
  .far {
    font-size: 40px;
  }

  .boardNORMAL {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .boardDIFICIL {
    grid-template-columns: repeat(2, 1fr);
  }

  .new-game,
  .volver {
    font-size: 10px;
  }

  .boardDIFICIL .area-card,
  .boardDIFICIL .card,
  .boardDIFICIL .face {
    width: 20px;
    height: 45px;
  }

  .botones {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .avanzar,
  .retroceder {
    width: 100%;
    margin: 0;
  }

  .container-contador {
    font-size: 1em;
  }

  .paginacionControles {
    flex-direction: column;
    width: 70%;
  }

  .filtroNormal,
  .filtroDificil,
  .filtroFacil,
  .filtroTodos {
    font-size: 0.7em;
  }
}
